---
- name: Restart nginx
  ansible.builtin.service:
    name: nginx
    state: restarted

- name: Reload nginx
  ansible.builtin.service:
    name: nginx
    state: reloaded

- name: Restart php-fpm
  ansible.builtin.service:
    name: php8.3-fpm
    state: restarted
