name: Ansible
on: [push, pull_request]
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ansible-actions/ansible-lint-action@v1.0.3
        with:
          target: "./"
